  .input-components{
    width: 50%;
  }
  
  .ship-template{
    width: 100%;
    background-color: rgba(245, 245, 245, 0.536);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 3px 7px 12px aqua;
  }
  .ship-type{
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    border-radius: 5px;
    margin: 10px;
  
  }
  
  .placeholder{
    margin-bottom: 5px;
  }
  .clear-list{
    width: 50%;
    border: none;
    border-radius: 8px;
    margin: 10px;
  }
  .edit-button{
    width: 30%;
    border-radius: 8px;
    margin-right: 10px;
    margin-top: 19px;
  }

  .clear-list:hover{
    box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.959);
    background-color: rgba(100, 148, 237, 0.486);
  }
  .ship-placeholder{
    position: relative;
  }
  
  .add-list{
    width: 75%;
    align-self: center;
    height: 2rem;
    background-color: transparent;
    border: px solid black;
    border-radius: 4px;
    opacity: 0.5;
  }

  .cross-icon,
  .delete-icon{
    width: 1.6rem;
  }
  .add-list:hover{
    width: 85%;
    box-shadow: 2px 2px 7px white;
  }
  .deleteFrom-list{
    width: 50%;
    height: 2rem;
    align-self: center;
    background-color: transparent;
  }
 
  
 
  