.ship-template{
    width: 100%;
  }
  
  .input-components{
    width: 50%;
  }
  
  .ship-template{
    background-color: rgba(245, 245, 245, 0.336);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
  .ship-type{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    margin: 10px;
  
  }
  .ship-list-item{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }
  .placeholder{
    margin-bottom: 5px;
  }
  .ship-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  .ship-name{
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .nation-icon{
    height: 2rem;
  }
  .class-icon{
    height: 2rem;
    
  }
  
  .specific-settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }
  
  .spec-setting-manual{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  }
  .source-switch{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  
  .source-switch button{
    width: 40%;
    height: 2rem;
    border-radius: 8px;
    border: 2px solid aqua;
  }
  .source-switch img{
   width: 10%;
  }
  
  .toggle-active{
    background-color: rgba(28, 255, 39, 0.637);
  }
  
  .specset-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .specset-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .specset-items button{
    width: 150px;
    height: 1,15rem;
    font-size: 1.1rem;
    margin-top: 3px ;
    margin-bottom: 3px;
  }
  
  .specset-items button:focus{
    background-color: aqua;
  }
  