  .input-components{
    width: 50%;
  }
  
  .ship-template{
    width: 100%;
    background-color: rgba(245, 245, 245, 0.536);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 3px 7px 12px aqua;
  }
  .ship-type{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    margin: 10px;
  
  }
  
  .placeholder{
    margin-bottom: 5px;
  }
  
  
 
  