.source-switch{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;
}
.source-switch img{
    height: 3rem;
    align-items: center;
}

.toggle-active,
.toggle-pending{
    width: 90%;
    height: 2rem;
    border-radius: 7px;
    color: black;
    font-weight: 750;
    background-color: rgb(22, 160, 160);
    box-shadow: 1px 1px 8px White;
    transition: width 0.3s ease;
    justify-self: center;
}
.toggle-pending{
    width: 70%;
    box-shadow: none;
}

.ship-icon-list {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-around;
}

.ship-button {
    width: 190px;
    background-color: transparent;
}
.ship-button:hover {
  box-shadow: 1px 2px 10px white;
}

.ship-button:focus {
    box-shadow: 1px 2px 10px white;
  }
.ship-icon{
    width: 100%;
    background-color: transparent;
}
.spec-setting-manual{
    margin-top: 10px;
    align-self: center
;}


.specset-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.specset-items{
    background-color: transparent;
    border: none;
    width: 65%;
    height: 2.4rem;
    font-size: 1.4rem;
    color: antiquewhite;
    font-weight: 800;
    border: 1px solid aqua;
}
.specset-items:hover{
    transform: scale(1.1);
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}
.specset-items:focus{
    transform: scale(1.1);
    background-color: rgba(46, 33, 230, 0.178);
}
.super-item{
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 100%;
    height: 2rem;
    text-shadow: 1px 1px 10px rgba(179, 255, 0, 0.541);
}

.specset-items p{
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}