.main-content{
    display: flex;
    height: 100%;
    padding-top: 15px;
    justify-content: space-around;
  }
  

  .canvas-wrapper{
    position: relative;
    flex-grow: 1;
    max-width: 1253px;
    height: 1200px;
  }
  
  #backgroundCanvas,
  #canvas,
  #drawingCanvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #canvas{
    z-index: 2;
  }
  
  #drawingCanvas{
    z-index: 3;
    pointer-events: none;
    background-color: transparent;
  }

  .right-sidebar{
    flex: 0 0 auto;
    width: 20%;
    background-color: transparent;
    padding: 20px;
  }

  .left-sidebar{
    flex: 0 0 auto;
    width: 20%;
    background-color: transparent;
    box-sizing: border-box;
    padding: 20px 20px 0px 20px;
  }