.ship-list{
    display: block;
    width: 100%;
    height: auto;
  }
  
  .ship-list-card{
    width: 100%;
    /* height: 2rem; */
    background-color: aqua;
    border: 2px solid black;
  }
  .ship-list-empty{
  background-color: black;
  }
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }