.mapSelector-content{
    padding: 10px;
    flex-flow: column nowrap; 
    }
.mapSelector-content button{ 
    border-radius: 4px;
    color: white;
    text-shadow: 1px 2px black;
    font-size: 80%;
    border: 1px solid rgb(56, 45, 45);
}
.mapSelector-content button:hover{ 
box-shadow: 1px 3px 10px white;
}

input::placeholder {
   color: rgba(0, 0, 0, 0.596);
   font-size: 1rem;
   font-style: italic;
}
input:focus::placeholder{
    opacity: 0;
}

.mapselector-list{
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
    padding: 5px;
    align-items: center;
    gap: 10px;
}
.list-item{
    width: 80%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    color: rgb(245, 245, 245);
    background-color: rgba(56, 84, 177, 0.582);
}

.edit-list-button{
    width: 33%;
    height: 1.5rem;
    color: white;
    background-color: rgba(100, 148, 237, 0.144);
}

.clearMap-button,
.clear-list-button{
    background-color: rgba(165, 42, 42, 0.63);
}
.clear-list-button:hover,
.clearMap-button:hover {
    transform: scale(1.3);
}
