.ship-list-item{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }

  .ship-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  .ship-name{
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .nation-icon{
    height: 2rem;
  }
  .class-icon{
    height: 2rem;
  }

  .remove-button {
    opacity: 0; 
}
.remove-icon{

}
.ship-list-item:hover .remove-button {
  opacity: 1;
  transform:  scale(1.1);
}