.ship-list-item{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    opacity: 1;
  }

  .ship-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  .ship-name{
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .nation-icon{
    height: 2rem;
  }
  .class-icon{
    height: 2rem;
  }

  .remove-button {
    opacity: 0; 
    position: absolute;
    left: 50%;
    border: none;
    background-color: rgba(88, 86, 86, 0.281);
}
.remove-icon{
  width: 2rem;
}
.ship-list-item:hover {
  opacity: 0.8; 
  scale: 0.95;
}

.ship-list-item:hover .remove-button {
  opacity: 1; 
}