.loginSection {
   display: flex;
   width: 100%;
   flex-direction: column; 
   gap: 10px;
}
.loginSection-toggler{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    border: 2px solid rgb(78, 138, 156);
    border-radius: 8px;
}
.loginSection-label{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    color: rgb(22, 24, 24);
    font-size: clamp(1rem, 2vh, 20px);
    font-weight:  800;
}

.loginSection-button{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}
.loginSection-img{
    width: 4vh;
}
.login{
    background-color: rgba(79, 247, 28, 0.507);
}

.logout{
    width: 30%;
    align-self: flex-end;
    background-color: rgba(221, 95, 95, 0.836);
    
}

.loginSection .logout:hover{
    width: 100%;
    transition: width 0.35s;
}
