.tool-settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .ship-button {
    padding: 0;
    border: 0;
    background: none;
    display: block;
    width: 250px; 
    height: 100px;
  }
  
  .ship-icon {
    width: 80%;
    height: 80%;
    object-fit: contain; 
  }
  
  .ship-button:hover {
    scale: 1.05;
    background-color: rgba(239, 241, 243, 0.1);
    border-radius: 5px;
  }
  
  .ship-button.selected {
    box-shadow: 0px 4px 8px black;
    border-radius: 8px;
    background-color: transparent;
  }
  .ship-button.selected:hover {
    scale: 1;
    background-color: transparent;
  }

  .specific-settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }
  
  .spec-setting-manual{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  }
  .source-switch{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  
  .source-switch button{
    width: 40%;
    height: 2rem;
    border-radius: 8px;
    border: 2px solid aqua;
  }
  .source-switch img{
   width: 10%;
  }
  
  .toggle-active{
    background-color: rgba(28, 255, 39, 0.637);
  }
  
  .specset-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .specset-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .specset-items button{
    width: 150px;
    height: 1,15rem;
    font-size: 1.1rem;
    margin-top: 3px ;
    margin-bottom: 3px;
  }
  
  .specset-items button:focus{
    background-color: aqua;
  }