.components-wrapper{
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
  }
  
  .component-list{
    width: 100%;
    background-color: transparent;
  }
  
  .list-button:hover{
    background-color: aquamarine;
  }
  
  .list-button{
    width: 100%;
    font-size: 1.4rem;
    background-color: rgba(0, 255, 255, 0.651);
    border-radius: 8px;
    margin-top: 10px;
  }
  .active{
    background-color: rgb(90, 190, 233);
  }
  
  
  .planner__inputSection{
    display: flex;
    flex-direction: column;
  }