.mapSelector-content{
    padding: 10px;
}

.mapselector-list{
    display: flex;
    flex-flow: column wrap;
}
.clear-button {
    width: 70%;
    height: 2rem;
    align-self: center;
    background-color: rgb(rgba(173, 136, 136, 0.479), green, blue);
}