.config-summary{
    text-align: center;
    background-color: transparent;
  }
  
  .config-summary{
    padding: 0;
    margin-top: 10px;
  }
  .config-summary h3{
    padding: 0;
  }
  
  .config-list {
    display: grid;
    grid-template-rows: 2rem 2rem 2rem;
    padding: 5px;
  }
  
  .config-item{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .SuperShips {
    grid-area: 1/2;
  }
  
  .Destroyers {
    grid-area: 2/1;
  }
  
  .Cruisers {
    grid-area: 2/2;
  }
  
  .Battleships {
    grid-area: 2/3;
  }
  
  .Submarines {
    grid-area: 3/1
  }
  
  .AirCarriers {
    grid-area: 3/3;
  }
  .config-label{
    grid-area: 2/-1;
  }
  
  .config-list-icon{
    width: 50px;
    height: 50px;
  }

  .config-list-limitations{
    margin: 10px 0px 10px 0px;
  
  }
  
  .limitation-item{
    background-color: rgba(240, 255, 255, 0.315);
    border-bottom: 4px double white;
  }