*,
*::before,
*::after {
  box-sizing: border-box;
}

.app-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: bisque;
}

header,
footer {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: aqua;
}
footer{
  position: sticky;
}

.main-content{
  display: flex;
  height: auto;
  padding-top: 21px;
}

.canvas-wrapper{
  position: relative;
  flex-grow: 1;
  min-width: 1300px;
  height: 1250px;
}

#backgroundCanvas,
#canvas,
#drawingCanvas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#canvas{
  z-index: 2;
}
#drawingCanvas{
  z-index: 3;
  pointer-events: none;
  background-color: transparent;
}

.left-sidebar{
  flex: 0 0 auto;
  width: 350px;
  background-color: azure;
  box-sizing: border-box;
}
.right-sidebar{
  flex: 0 0 auto;
  width: 400px;
  background-color: azure;
}
/* ToolBAR */

.toolbar{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.toolbar__row{
  display: flex;
  padding: 10px;
  gap: 50px;
}
.gap{
  gap: 65px;
  padding: 10px;
}
.toolbar__row-final{
  display: flex;
  margin-top: 35px;
  background-color: coral;
  justify-content: center;
}

.toolbar-button{
  width: 65px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 8px;
}
.toolbar-button:hover{
  scale: 1.1;
  background-color: rgb(193, 193, 231);
  border: none;
}

.toolbar-icon{
  width: 100%;
}
.active{
  background-color: aquamarine;
}


/* Tool Setting bar */
.tool-settings{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.ship-button {
  padding: 0;
  border: 0;
  background: none;
  display: block;
  width: 250px; 
  height: 100px;
}

.shipIcon-img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

.ship-button:hover {
  scale: 1.05;
  background-color: rgba(0, 123, 255, 0.1);
}

.ship-button.selected {
  box-shadow: 0px 4px 8px black;
  border-radius: 8px;
  background-color: transparent;
}
.ship-button.selected:hover {
  scale: 1;
  background-color: transparent;
}


/* MOdal save window */
.modal-overlay {
  position: fixed;
  opacity: 0;
  transform: scale(0.3);
  transition: opacity 0.3s ease, transform 0.3s ease; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 1000; 
}
.modal-overlay.show {
  opacity: 1;
  transform: scale(1);
}


.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  z-index: 1001;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.components-wrapper{
  width: 100%;
  background-color: beige;
  box-sizing: border-box;
}

.component-list{
  width: 100%;
  background-color: aqua;
}

.list-button:hover{
  background-color: aquamarine;
}

.list-button{
  width: 100%;
  font-size: 1.4rem;
  background-color: aqua;
}
.active{
  background-color: rgb(90, 190, 233);
}


.planner__inputSection{
  display: flex;
  flex-direction: column;
}

/* Ship list */
.ship-list{
  display: block;
  width: 100%;
  height: auto;
}

.ship-list-card{
  width: 100%;
  height: 2rem;
  background-color: aqua;
  border: 2px solid black;
}
.ship-list-empty{
background-color: black;
}
.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

/* Planneer helper  */

.planner-sidebar{
  display: flex;
  flex-direction: column;
}

.config-shipType-box{
  display: flex;
  justify-content: space-around;
  align-items: end;
  width: 100%;
  height: auto;
}

.config-icon{
  width: 40%;
  height: 4rem;
}
.config-input{
  width: 60px;
  height: 2.5rem;
  border-radius: 8px;
}

.config-input:focus::placeholder {
  color: transparent;
}

.limitation-box{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.limitation-box input{
 width: 80%;
 border: none;
}


/* Config-list  */
.config-summary{
  text-align: center;
  background-color: transparent;
}

.config-summary{
  padding: 0;
  margin-top: 10px;
}
.config-summary h3{
  padding: 0;
}

.config-list {
  display: grid;
  grid-template-rows: 2rem 2rem 2rem;
  padding: 5px;
}

.config-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.SuperShips {
  grid-area: 1/2;
}

.Destroyers {
  grid-area: 2/1;
}

.Cruisers {
  grid-area: 2/2;
}

.Battleships {
  grid-area: 2/3;
}

.Submarines {
  grid-area: 3/1
}

.AirCarriers {
  grid-area: 3/3;
}

.config-list-icon{
  width: 50px;
  height: 50px;
}

.config-list-limitations{
  display: flex;
  align-content: center;
  flex-direction: column;
}

.limitation-item{
  width: 100%;
  height: auto;
}

/* Ship template section */
.ship-template{
  width: 100%;
}

.input-components{
  width: 50%;
}

.ship-template{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}
.ship-type{
  display: flex;
  flex-direction: column;

}
.ship-type h4{
  margin: 5px;
 

}

.ship-list-item{
  display: grid;
  grid-template-columns: auto auto auto;
}
.ship-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.ship-name{
  font-size: 1.2rem;
  font-weight: bold;
}

.nation-icon{
  height: 3rem;
}
.class-icon{
  grid-column: 2;
  height: 3rem;
  
}