.planner-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .planner-sidebar h3,h4{
    color: bisque;
  }
  
  .special-limitation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% ;
  }
  
  .special-limitation button:hover{
    background-color: rgb(117, 149, 231);
    scale: 1.12;
  }
  .special-limitation button:active{
    background-color: rgb(200, 211, 240);
    scale: 1.12;
  }
  
  .btn-addCondition {
    width: 80%;
    height: 2rem;
  }
  
  .btn-complete {
    width: 50%;
    height: 2rem;
    margin-top: 25px;
    background-color: rgba(90, 221, 97, 0.726);
  }
  .limitation-box{
    width: 100%;
    margin-top: 15px;
  }


  .config-shipType-box{
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 100%;
    height: auto;
  }
  
  
  .config-summary{
    width: 100%;
  }
  
  .config-icon{
    width: 40%;
    height: 4rem;
    border-radius: 8px;
    filter: drop-shadow(1px 2px 3px aqua);
  }
  .config-input{
    width: 60px;
    height: 2.5rem;
    border-radius: 8px;
  }
  
  .config-input:focus::placeholder {
    color: transparent;
  }
  
  .limitation-box{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
  }
  .limitation-box input{
   width: 80%;
   border: none;
  }